{% extends model('component') %}

{% define config = {
    name: 'footer',
    tag: 'footer'
} %}

{% block body %}
    <div class="container">
        <div class="{{ config.name }}__top">
            <div>
                <ul class="{{ config.name }}__ul">
                    <li><a href="" class="{{ config.name }}__link">О нас</a></li>
                    <li><a href="" class="{{ config.name }}__link">Как заказать</a></li>
                    <li><a href="" class="{{ config.name }}__link">Доставка и оплата</a></li>
                    <li><a href="" class="{{ config.name }}__link">Обратная связь</a></li>
                    <li><a href="" class="{{ config.name }}__link">Отзывы о нас</a></li>
                    <li><a href="" class="{{ config.name }}__link">Контакты</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li><a href="" class="{{ config.name }}__link">Каталог</a></li>
                    <li><a href="" class="{{ config.name }}__link">Родительским комитетам</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li><a href="" class="{{ config.name }}__link">Личный кабинет</a></li>
                    <li><a href="" class="{{ config.name }}__link">Корзина</a></li>
                </ul>
            </div>
            <div class="{{ config.name }}__social">
                <p class="{{ config.name }}__social-top">Мы в соцсетях</p>
                <div class="{{ config.name }}__links-img">
                    <img class="{{ config.name }}__networks-li" src="/assets/static/images/shopui/vkck.png" alt="">
                    <img class="{{ config.name }}__networks-li" src="/assets/static/images/shopui/face.png" alt="">
                    <img class="{{ config.name }}__networks-li" src="/assets/static/images/shopui/odn.png" alt="">
                    <img class="{{ config.name }}__networks-li" src="/assets/static/images/shopui/inst.png" alt="">
                </div>
                <p class="{{ config.name }}__social-bottom">
                    info@shop.prosv.ru
                    <br>
                    <span>
                        (в рабочие дни с 9:00 до 18:00)
                    </span>
                </p>
            </div>
        </div>
        <div class="{{ config.name }}__bottom">
            <p><a href="" class="{{ config.name }}__link">Пользовательское соглашение</a></p>
            <p><a href="" class="{{ config.name }}__link">Официальный интернет магазин</a></p>
            <p><a href="" class="{{ config.name }}__link">Сайт издательства "Просвещение</a></p>
        </div>
    </div>
{% endblock %}
